.gallery {
    cursor: pointer;
}

.service-builder {
    width: 636px;
    margin-bottom: 2rem;
}

.service-builder img {
    height: 412px;
    width: 636px;
}

.profile-business {
}

.service-details,
.service-details img {
    width: 636px;
    height: 412px;
}

.services-browse img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.gallery:hover .gallery:first-child,
.gallery:hover .gallery:last-child {
    background-color: bisque;
}
